
body {background-color: #AFEEEE;} 
h1   {color: rgb(255,0,0);}
h2   {color: #663399;}
p    {color: blue}
p::first-letter {
  font-size: 150%;
  color: hsl(266, 64%, 58%);
}
p {
   margin: 10px;
   font-family: 'RacingSansOneRegular';
   font-weight: normal;
   font-style: normal;
} 