<nav class="demo imponent">
 			<a href="index.html" class="brand">
    			<img class="logo" src="https://image-processor-storage.s3.us-west-2.amazonaws.com/images/979ae695aabc85cc746310935ac82739/woman-enjoing-the-view.jpg" />
    			<span>Home</span>
  			</a>
  		<!-- responsive-->
  			<input id="bmenub" type="checkbox" class="show">
  			<label for="bmenub" class="burger pseudo button">menu</label>

  			<div class="menu">
    			<a href="ceka.html" class="{%if page.name != 'ceka.html' %}pseudo{% endif %} button icon-picture">Visas</a>
    			<a href="3tastranica.html" class="{% if page.name != '3tastranica.html' %}pseudo{% endif %} button icon-puzzle">Audio</a>
  			</div>
</nav>